# Build results
target
*.wasm
*.wasm.gz
!snip721.wasm*

# Text file backups
**/*.rs.bk

# macOS
.DS_Store

# IDEs
*.iml
.idea
*.log

# ssl keys
# *.key
# *.crt

# Dependency directories
node_modules/

.env*
!.env.example